PORT=4000
JWT_SECRET=dev-secret-cambia-me
ADMIN_EMAIL=admin@fidelizacion.com
ADMIN_PASSWORD=admin123

# Supabase
SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU-SERVICE-ROLE-KEY
SUPABASE_ANON_KEY=TU-ANON-KEY
SUPABASE_BUCKET=menu-images